:root {
	--color-text: #444;
	--color-text-light: #ccc;
	--color-header: #222;
	--main-bg: rgba(255,255,255,.95);
	--color-bg: rgba(30,30,80,.7);
	--chill-bg: rgba(30,30,80,.05);
	--color-sun: #E24646;
	--color-moon: #4B47AD;
	--color-sun-light: #ff9c77;
	--color-moon-light: #aba8ff;
	--bg-gradient: linear-gradient(135deg, rgba(161,0,68,1) 0%, rgba(19,0,138,1) 100%);
	--bg-gradient-light: linear-gradient(135deg, var(--color-sun) 0%, var(--color-moon) 100%);
	--size-h1: 46px;
	--size-h2: 24px;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--color-text: #ddd;
		--color-text-light: #444;
		--color-header: #fff;
		--main-bg: rgba(0,0,0,.85);	
		--chill-bg: rgba(255,255,255,.3);	
		-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	}
}

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
	font-family: Fraunces, serif;
	font-size: 18px;
	font-weight: 300;
	margin: auto;
	padding: 0;
	text-align: left;
	background-color: var(--color-bg);
	background: var(--bg-gradient) fixed;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.7;
	color: var(--color-text);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: var(--color-header);
}

h1, h3, h4 {
	font-weight: 200;
}

h1 {
	font-size: var(--size-h1);
}

h2 {
	font-size: var(--size-h2);
	font-weight: 400;
}

h3 {
	letter-spacing: 1px;
	text-transform: uppercase;
}
a {
	color: var(--color-bg);
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	background-color: var(--color-bg);
	color: var(--color-header);
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-family: sans-serif;
	}

main {
	border-radius: 6px;
	padding: 24px;
}

section {
	background: var(--main-bg);
	border-radius: 6px;	
	padding: 24px;
	margin-bottom: 36px;
}

hr {
	border: none;
	background: linear-gradient(63deg, var(--color-sun) 0%, var(--color-moon) 100%);
	color: #ddd;
  height: 1px;
  margin: 48px auto;
  opacity: .5;
  width: 100%;
}

.tiny {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.tinysentencecase {
	font-size: 12px;
	font-weight: 200;
	text-transform: none;
	letter-spacing: 0;
}

.rightalign {
	text-align: right;
}

.centeralign {
	text-align: right;
}

.singlespace p {
	margin-block-end: 0;
	margin-block-start: 0;
}


@media screen and (max-width: 480px) {
	:root {
		--size-h1: 36px;
	}

	h3 {
		font-size: 18px;
	}
	main {
		padding: 12px;
	}
	body {
		font-size: 16px;
	}


}
