---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>

			<a href="callandresponse">Call and Response</a>

		</main>
		<Footer />
	</body>
</html>


<style>
	img {
		display: block;
		margin: 200px auto 0;
		text-align: center;
		z-index: 1000;
	}
	img#gradientbkg {
		position: fixed;
		min-width: 600px;
		width: 100%;
		top: 0;
		margin: 0;
		opacity:;
		z-index: -1000;
	}
	main {
		max-width: 800px;
		margin: 100px auto 100px;
	}

	p, blockquote {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}

	blockquote {
		background: #eee;
		padding: 36px;
	}

	header {
		position: absolute;
	}
</style>