---
import '../styles/global.css';
---

<!-- <hr /> -->

<div class="CandRbio">
	<slot />
</div>
<style>

	.CandRbio {
		display: none;
		color: #777;
		font-size: 16px;
		margin: 32px auto;
		padding: 0 var(--big-margin) var(--med-margin);
		max-width: 700px;
		text-align: center;
	}
</style>