---
import '../styles/global.css';
---
<hr />

<footer>
	<p><a href="https://twitter.com/peripluscollect" target="_blank">Periplus</a> is a mentorship collective serving U.S. writers who are Black, Indigenous, and people of color. Periplus Collective Press is a project created by the Periplus Fellows to facilitate conversation and generative work across the collective.</p>
	<br />
</footer>
<style>
	footer {
		padding: 0 var(--big-margin) var(--med-margin);
		text-align: center;
	}

	footer p {
		max-width: 800px;
		margin: 0 auto;
	}
</style>
