---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/callandresponse">Call and Response</HeaderLink>
		<HeaderLink href="/blog">Blog thing</HeaderLink>		
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/astrostuff">Astro stuff</HeaderLink>		
</header>
<style>
	header {
		margin: 0em auto 2em;
		max-width: 600px;
		text-align: center;
	}
	h2 {
		margin: 0.5em 0;
		font-weight: 300;
	}
</style>
