---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<h2>
		
	</h2>
	<nav>
		{SITE_TITLE}
		<!-- <HeaderLink href="/">Home</HeaderLink> -->
		<HeaderLink href="/callandresponse">Call and Response</HeaderLink>
<!-- 		<HeaderLink href="/blog">Blog thing</HeaderLink>		
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/astrostuff">Astro stuff</HeaderLink>		 -->
</header>
<style>
	header {
		background: #fff;
		font-size: 14px;
		height: 40px;
		margin: 0em auto 2em;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
	}
	h2 {
		margin: 0.5em 0;
		font-size: 14px;
		font-weight: 300;
	}
</style>
