---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		color: #ff634f;
		display: inline-block;
		margin: 0 auto;
		text-decoration: none;
		font-family: 'Poppins', sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	a.active {
		color: var(--main-bg);
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	.tiny {
		font-weight: 300;
	}
</style>
