---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<nav>
		<h1>{SITE_TITLE}</h1>
		<div class="HeaderLinkContainer">
			<HeaderLink href="/">I: Call and Response</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		background: #000;
		font-size: 13px;
		height: 24px;
		margin: 0 0;
		padding: 8px 24px;
		position: fixed;
		text-align: left;
		top: 0;
		width: 100%;
		z-index: 3000;
	}
	nav h1 {
		color: rgba(255,255,255,.7);
		display: inline;
		margin: 2px 24px;
		font-size: 14px;
		font-weight: 300;
	}
	div.HeaderLinkContainer {
		position: fixed;
		margin: 0 auto;
		top: 9px;
		left: 0;
		right: 0;
		text-align: center;
	}
</style>
