---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CandRLeft from '../components/CandRLeft.astro';
import CandRRight from '../components/CandRRight.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const {nextup} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			body {
				max-width: 100%;
			}

			.next {
				margin: 0 auto;
				padding: 24px;
				text-align: center;
			}
			#call {
				background-color: #888;
			}


		</style>
	</head>
	<body>
		<Header />


		
		<main>
			<div class="candrcontainer">

				<slot />

			</div>
		</main>
		<div class="next">
			<a href={nextup}>Next Pair</a>
		</div>
		<Footer />
	</body>
</html>